anyio==4.14.1
asgiref==3.11.1
certifi==2026.6.17
Django==6.0.6
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
Markdown==3.10.2
notion-client==3.1.0
pillow==12.3.0
python-decouple==3.8
sqlparse==0.5.5
